# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs backup
*~

# testing output
logtest.*
test.logger
test.logfile
test.example
test.example2
logfile.output
test_log
test_logger
test_logfile
test_mkpath
testdata
